:root {
    --black: rgba(45, 45, 45, 1);
    --white: rgba(255, 255, 255, 1);
    --green: rgba(0, 147, 121, 1);
    --red: rgba(255, 98, 80, 1);
    --pink: rgba(243, 175, 168, 1);
    --grey: rgba(243, 243, 243, 1);
    --yellow: rgba(247, 214, 132, 1);
    --h1-font-family: "Epilogue", Helvetica;
    --h1-font-weight: 600;
    --h1-font-size: 100px;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h1-font-style: normal;
    --h2-font-family: "Epilogue", Helvetica;
    --h2-font-weight: 600;
    --h2-font-size: 32px;
    --h2-letter-spacing: 0px;
    --h2-line-height: 42px;
    --h2-font-style: normal;
    --subtitle-font-family: "Epilogue", Helvetica;
    --subtitle-font-weight: 600;
    --subtitle-font-size: 20px;
    --subtitle-letter-spacing: 0px;
    --subtitle-line-height: 30px;
    --subtitle-font-style: normal;
    --body-text-font-family: "Epilogue", Helvetica;
    --body-text-font-weight: 400;
    --body-text-font-size: 17px;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: 27px;
    --body-text-font-style: normal;
    --h1-mobile-font-family: "Epilogue", Helvetica;
    --h1-mobile-font-weight: 600;
    --h1-mobile-font-size: 65px;
    --h1-mobile-letter-spacing: 0px;
    --h1-mobile-line-height: normal;
    --h1-mobile-font-style: normal;
    --h3-font-family: "Epilogue", Helvetica;
    --h3-font-weight: 600;
    --h3-font-size: 27px;
    --h3-letter-spacing: 0px;
    --h3-line-height: 42px;
    --h3-font-style: normal;
  }

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  body{
    max-width: 1280px;
    margin: 0 auto;
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: var(--body-text-font-size);
    font-weight: 500;
    text-transform: uppercase;
  }

  header{
    position: fixed;
    z-index: 10010;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1280px;
    margin: 0 auto;
    background-color: white;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    z-index: 10001;
  }
  
  .logo {
    font-size: 1.5rem;
    color: rgb(5, 5, 116);
    padding-left: 20px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 10px;
    background-color: black;
  }
  
  .nav__link {
    position: absolute;
    width: 94%;
    z-index: 10001;
    top: 66px;
    left: 10px;
    background-color: lightblue;
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  
  .nav__link a:hover {
    background-color: lightcoral;
  }
  
  .hide {
    display: none;
  }


  /* hero banner section */
  .header-section {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 68px 42px;
    padding: 42px 24px;
    position: relative;
    background-color: #ffffff;
  }
  
  .header-section .header-content {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    /* max-width: 620px; */
    align-items: flex-start;
    gap: 48px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .header-section .title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .header-section .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--black);
    font-size: var(--subtitle-font-size);
    letter-spacing: var(--subtitle-letter-spacing);
    line-height: var(--subtitle-line-height);
    font-style: var(--subtitle-font-style);
  }
  
  .header-section .div {
    position: relative;
    align-self: stretch;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    color: var(--black);
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    font-style: var(--h1-font-style);
  }
  
  .header-section .this-is-a-template {
    position: relative;
    align-self: stretch;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: var(--black);
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
  }
  
  .header-section .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 32px;
    border-radius: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #2d2d2d;
  }
  
  .header-section .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Epilogue-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--white);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .header-section .headerimage {
    position: relative;
    flex: 1;
    min-width: 320px;
    max-width: 480px;
    flex-grow: 1;
    height: 360px;
  }

  
  /* brand logo */
  .logo-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 86px 68px;
    padding: 42px 68px;
    position: relative;
    background-color: #ffffff;
  }
  
  .logo-bar .group {
    position: relative;
    width: 116.07px;
    height: 38.21px;
  }
  
  .logo-bar .image-traced {
    position: relative;
    width: 86.42px;
    height: 30.74px;
  }
  
  .logo-bar .img {
    position: relative;
    width: 113.11px;
    height: 17.41px;
  }
  
  .logo-bar .image-traced-2 {
    position: relative;
    width: 38.11px;
    height: 46.83px;
  }
  
  .logo-bar .image-traced-3 {
    position: relative;
    width: 64.94px;
    height: 43.67px;
  }


  /* skills container */
  .skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    padding: 42px 24px;
    position: relative;
    background-color: var(--white);
  }
  
  .skills-section .cards-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .skills-section .skills-card {
    display: flex;
    flex-direction: column;
    /* min-width: 320px; */
    align-items: center;
    justify-content: center;
    gap: 42px;
    padding: 64px 42px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff;
  }
  
  .skills-section .skills-card-icon {
    position: relative;
    width: 124px;
    height: 124px;
  }
  
  .skills-section .title-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .skills-section .title {
    position: relative;
    align-self: stretch;
    height: 42px;
    margin-top: -1px;
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    color: var(--black);
    font-size: var(--h3-font-size);
    text-align: center;
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
    white-space: nowrap;
    font-style: var(--h3-font-style);
  }
  
  .skills-section .text-wrapper {
    position: relative;
    align-self: stretch;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: var(--black);
    font-size: var(--body-text-font-size);
    text-align: center;
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
    margin-top: 50px;
  }
  
  .skills-section .img {
    height: 124px;
    position: relative;
    width: 127.38px;
  }
  
  .skills-section .skills-card-icon-2 {
    height: 127.38px;
    position: relative;
    width: 127.38px;
  }

  /* gallery section */
  .gallery-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    padding: 42px 24px;
    position: relative;
    background-color: var(--white);
  }

  .gallery-section .text-wrapper{
    position: relative;
    width: fit-content;
    margin-top: 50px;
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    color: var(--black);
    font-size: var(--h2-font-size);
    text-align: center;
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    white-space: nowrap;
    font-style: var(--h2-font-style);

  }

  .gallery-section .cards-section{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }


  .gallery-section .div{
    display: flex;
    flex-direction: column;
    min-width: 280px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .gallery-section .div:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all;
    transition-duration: .5s;

  }

  .gallery-section .image{
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 6px;
  }

  .gallery-section .title-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .gallery-section .text-wrapper-2{
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--black);
    font-size: var(--subtitle-font-size);
    letter-spacing: var(--subtitle-letter-spacing);
    line-height: var(--subtitle-line-height);
    font-style: var(--subtitle-font-style);
  }
  .gallery-section .text-wrapper-3{
    position: relative;
    align-self: stretch;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: var(--black);
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
  }

  /* testimonial-section */
  .testimonial-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    padding: 42px 24px;
    position: relative;
    background-color: var(--white);
  }

  .testimonial-section .text-wrapper{
    position: relative;
    width: fit-content;
    margin-top: 50px;
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    color: var(--black);
    font-size: var(--h2-font-size);
    text-align: center;
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    white-space: nowrap;
    font-style: var(--h2-font-style);
  }

  .testimonial-section .cards-section{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }


  .testimonial-section .testimonial-card{
    display: flex;
    flex-direction: column;
    /* min-width: 300px; */
    align-items: flex-start;
    gap: 64px;
    padding: 42px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background: #f3f3f3;
  }

  .testimonial-section .div{
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    color: var(--black);
    font-size: var(--subtitle-font-size);
    letter-spacing: var(--subtitle-letter-spacing);
    line-height: var(--subtitle-line-height);
    font-style: var(--subtitle-font-style);
  }

  .testimonial-section .client-image-info{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .testimonial-section .client-image{
    position: relative;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  .testimonial-section .client-info-stars{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .testimonial-section .stars{
    display: inline-flex;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }

  .testimonial-section .star {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .testimonial-section .img{
    position: absolute;
    width: 17px;
    height: 16px;
    top: 1px;
    left: 2px;
  }

  .testimonial-section .name-company{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .testimonial-section .text-wrapper-2{
    position: relative;
    align-self: stretch;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: var(--black);
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
  }

  /* contact section */
  .contact-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 42px 24px;
    position: relative;
    background-color: var(--white);
  }
  .contact-section .text-wrapper{
    position: relative;
    /* width: 626px; */
    margin-top: 50px;
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    color: var(--black);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    font-style: var(--h2-font-style);
  }

  .contact-section .div{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 142px 42px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .contact-section .contact-info{
    gap: 42px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* min-width: 300px; */
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .contact-section .text-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .contact-section .p{
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color:#2d2d2d;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
  }

  .contact-section .social-links{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .contact-section .img{
    position: relative;
    width: 36px;
    height: 36px;
  }

  .contact-section .contact-form{
    max-width: 520px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* min-width: 300px; */
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .contact-section .input-fields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .contact-section .input-field{
    /* min-width: 300px; */
    max-width: 520px;
    padding: 16px 24px;
    background-color: #f3f3f3;
    position: relative;
    align-self: stretch;
    /* width: 100%; */
    border: 0;
    flex: 1;
    flex-grow: 1;
    margin-top: -1px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #2d2d2d;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
  }

  .contact-section .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 24px 64px;
    position: relative;
    flex: 0 0 auto;
    background-color: #2d2d2d;
  }

  .contact-section .contact{
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h2-font-family);
    font-weight: 600;
    color: var(--white);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
  }

  footer p{
    padding: 24px;
    text-align: center;
  }

  .hidden{
    display: none;
  }



  /* responsiveness */

  /* navbar  */
  @media screen and (min-width: 576px) {
    .nav__link {

      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }
  }
  
  /* body */
  @media screen and (max-width: 576px) {
    .header-section .header-content{
      padding: 24px;
    }
    .header-section .div{
      font-size: 32px;
    }
    .header-section .button{
      padding: 12px 24px;
    }

    .contact-section .div{
      gap: 42px;
    }
    .contact-section .button{
      padding: 16px 32px;
    }
  }